# **Cria o dataset de municipios_rmsp reaizando as chamadas a API para todos os municípios**

Criando os datasets sobre dados da região metropolitana de são paulo via API

http://doc.seade.gov.br/index.php/API-PERFIL

In [0]:
import numpy as np
import pandas as pd

#avoid truncate text
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

# "http://api-perfil.seade.gov.br/v1/dados/tema/{localidade}/all"

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

In [0]:
# recuperando a lista de cidades da rmsp
df_cidades_rmsp = pd.read_csv('https://raw.githubusercontent.com/matheuxrp/hello-word/master/datasets_SP/municipios_rmsp.csv', encoding = "UTF-8")
display(df_cidades_rmsp.head())

               Município
0              São Paulo
1                  Arujá
2         Biritiba-Mirim
3  Ferraz de Vasconcelos
4              Guararema

In [0]:
import requests

response = requests.get("http://api-perfil.seade.gov.br/v1/localidade")
data_json = response.json()

print(response.status_code)
#print(response.json())

200

In [0]:
#recupera os codigos locais e transforma em dataframe para usar na proxima API
lista_municipios = data_json['localidades'][4]['locais']
df_cod_municipio = dfObj = pd.DataFrame(df_municipios)

df_cod_municipio = df_cod_municipio.loc[(df_cod_municipio['nome'].isin(df_cidades_rmsp['Município']) )]['cod']
df_cod_municipio = df_cod_municipio.reset_index()

In [0]:
#Cria o dataset de resultado vazio
df_result = pd.DataFrame({'nome': [],'Área': [],'População': [],'Área': [],'Densidade Demográfica': [],'Taxa Geométrica de Crescimento Anual da População - 2010/2020': [],
                          'Grau de Urbanização': [],'Índice de Envelhecimento': [],'População com Menos de 15 Anos': [],'População com 60 Anos e Mais': [],'Razão de Sexos': [],'municipio': []
                          })
df_result.head()

Empty DataFrame
Columns: [nome, Área, População, Densidade Demográfica, Taxa Geométrica de Crescimento Anual da População - 2010/2020, Grau de Urbanização, Índice de Envelhecimento, População com Menos de 15 Anos, População com 60 Anos e Mais, Razão de Sexos, municipio]
Index: []

In [0]:
#display(df_cod_municipio.head(10))

for index,row in df_cod_municipio.iterrows():
  #print(row['cod'])
  response = requests.get("http://api-perfil.seade.gov.br/v1/dados/tema/"+row['cod']+"/all")
  df_data_municipio = response.json()

  #recuperando informações do territorio e populacao
  df_territorio_populacao = pd.DataFrame(df_data_municipio['tema'][0]['dados'])[['nome','mun']]
  df_territorio_populacao.set_index('nome',inplace=True)
  df_territorio_populacao = df_territorio_populacao.T
  #adicionando o nome do municipio
  df_territorio_populacao['municipio'] = df_data_municipio['infolocalidade']['nome']
  #adicionando ao dataframe
  df_result = pd.concat([df_result, df_territorio_populacao])

In [0]:
df_result

,nome,Área,População,Densidade Demográfica,Taxa Geométrica de Crescimento Anual da População - 2010/2020,Grau de Urbanização,Índice de Envelhecimento,População com Menos de 15 Anos,População com 60 Anos e Mais,Razão de Sexos,municipio
mun,NaN,"96,17",89.744,"933,18","1,84","96,31","55,76","21,53","12,01","97,25",Arujá
mun,NaN,"65,70",264.390,"4024,20","0,95","100,00","47,09","23,62","11,12","94,74",Barueri
mun,NaN,"97,64",100.612,"1030,44","1,54","98,26","60,86","19,69","11,99","96,01",Caieiras
mun,NaN,"131,39",77.627,"590,81","1,95","98,82","44,85","22,09","9,91","99,14",Cajamar
mun,NaN,"34,55",394.598,"11421,07","0,66","100,00","58,79","21,98","12,92","94,44",Carapicuíba
mun,NaN,"323,99",247.424,"763,68","2,12","100,00","52,81","21,70","11,46","95,79",Cotia
mun,NaN,"30,73",404.477,"13162,28","0,47","100,00","56,47","20,92","11,81","93,69",Diadema
mun,NaN,"70,40",270.790,"3846,45","1,22","100,00","47,99","22,81","10,95","94,56",Embu das Artes
mun,NaN,"155,64",68.053,"437,25","0,82","97,33","65,40","20,39","13,33","97,85",Embu-Guaçu
mun,NaN,"29,56",193.037,"6530,35","1,39","95,51","50,76","21,48","10,90","95,47",Ferraz de Vasconcelos
mun,NaN,"49,00",174.403,"3559,24","1,23","99,80","46,83","22,90","10,72","98,05",Francisco Morato
mun,NaN,"132,78",152.201,"1146,26","1,48","92,13","53,96","20,81","11,23","103,63",Franco da Rocha
mun,NaN,"270,82",29.429,"108,67","1,32","86,05","70,18","20,16","14,15","99,72",Guararema
mun,NaN,"318,68",1.351.275,"4240,23","1,02","100,00","57,41","20,97","12,04","95,01",Guarulhos
mun,NaN,"150,74",169.619,"1125,24","1,08","99,17","48,05","22,36","10,74","99,46",Itapecerica da Serra
mun,NaN,"82,66",237.714,"2875,80","1,72","100,00","42,10","23,08","9,72","96,78",Itapevi
mun,NaN,"82,62",370.589,"4485,46","1,44","100,00","45,33","22,35","10,13","96,77",Itaquaquecetuba
mun,NaN,"17,45",123.603,"7083,27","1,34","100,00","52,93","20,51","10,85","95,76",Jandira
mun,NaN,"522,17",30.401,"58,22","0,57","85,81","62,15","21,87","13,59","100,72",Juquitiba
mun,NaN,"320,70",98.622,"307,52","2,02","92,18","72,45","18,48","13,39","100,69",Mairiporã
mun,NaN,"61,91",460.132,"7432,27","1,00","100,00","66,02","19,03","12,56","95,49",Mauá
mun,NaN,"712,54",432.905,"607,55","1,12","92,75","70,73","19,84","14,03","94,79",Mogi das Cruzes
mun,NaN,"64,95",680.964,"10484,43","0,21","100,00","68,76","19,89","13,68","92,80",Osasco
mun,NaN,"108,49",18.851,"173,76","1,84","100,00","46,16","21,29","9,83","97,10",Pirapora do Bom Jesus
mun,NaN,"17,26",115.538,"6693,97","0,87","98,42","61,87","21,35","13,21","94,37",Poá
mun,NaN,"99,08",118.968,"1200,73","0,52","100,00","92,74","17,61","16,33","95,64",Ribeirão Pires
mun,NaN,"36,34",49.816,"1370,83","1,27","100,00","59,08","19,80","11,70","97,42",Rio Grande da Serra
mun,NaN,"425,00",16.838,"39,62","0,75","66,36","68,32","21,84","14,92","99,81",Salesópolis
mun,NaN,"363,33",55.086,"151,61","0,89","81,17","73,29","20,10","14,73","98,71",Santa Isabel
mun,NaN,"179,95",138.132,"767,61","2,45","100,00","59,26","20,28","12,02","97,12",Santana de Parnaíba
mun,NaN,"175,78",693.867,"3947,36","0,26","100,00","102,66","17,31","17,77","92,45",Santo André
mun,NaN,"409,53",812.086,"1982,97","0,60","98,39","81,93","18,38","15,06","93,57",São Bernardo do Campo
mun,NaN,"15,33",151.244,"9865,88","0,14","100,00","157,50","14,66","23,10","86,82",São Caetano do Sul
mun,NaN,"186,46",15.579,"83,55","1,11","93,07","69,85","19,61","13,70","100,79",São Lourenço da Serra
mun,NaN,"1.521,11",11.869.660,"7803,29","0,54","99,10","82,20","18,99","15,61","90,89",São Paulo
mun,NaN,"206,24",291.002,"1410,99","1,05","96,48","61,53","20,75","12,77","95,86",Suzano
mun,NaN,"20,39",283.871,"13922,07","1,52","100,00","52,19","22,08","11,52","92,35",Taboão da Serra
mun,NaN,"42,49",52.762,"1241,75","2,09","100,00","54,21","22,15","12,01","97,95",Vargem Grande Paulista

In [0]:
#salva o resultado
df_result.to_csv(r'/content/sample_data/dados_populacao_rmsp.csv')